# Reglas específicas de Docker
Dockerfile
.dockerignore
.git


# App data
.admin_passwd
.key
shifts.db
*firebase*.json
atcapp.json
file_listings.md
logs/
tests/
utils/

# Container environment data
db_uri
id_rsa
.env

# virtualenv
.venv*/
venv*/
ENV/
cambios.egg-info/

# Byte-compiled / optimized / DLL files
**/__pycache__/
**.py[cod]
**$py.class
Crujisim.sublime-workspace
crujisim.code-workspace
**.glade~
test.py

# Extra files 
**.pdf

# Coverage
.coverage
htmlcov/
cov.xml

