# App data
.admin_passwd
.key
shifts.db
*firebase*.json
atcapp.json
file_listings.md
logs/
test_db.pickle
*.env

# Container environment data
db_uri
id_rsa
.env
env.yml

# virtualenv
.venv*/
venv*/
ENV/
src/*.egg-info/
env*.bat
env*.ps1

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
Crujisim.sublime-workspace
crujisim.code-workspace
*.glade~
test.py

# Extra files 
/*.pdf

# Coverage
.coverage
htmlcov/
cov.xml