# App data
.admin_passwd
.key
shifts.db
*firebase-adminsdk*.json


# virtualenv
.venv/
venv/
ENV/
cambios.egg-info/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
Crujisim.sublime-workspace
crujisim.code-workspace
*.glade~
test.py