{% extends "base.html" %}

{% block title %}Mi Estadillo{% endblock %}

{% block content %}
<table>
    {% for grupo in grupos %}
    <thead>
        <tr>
            {% for sector in grupo.sectores %}
            <th>{{ sector }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for atc in grupo.atcs %}
        <tr>
            <td>{{ atc.nombre }}</td>
            {% for periodo in atc.periodos %}
            <td style="background-color:{{ periodo.color }};">
                {{ periodo.actividad }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    {% endfor %}
</table>
{% endblock %}