{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
<style>
  /* Additional styles for better appearance */
  .login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
  }

  .login-container h1 {
    margin-bottom: 1em;
  }

  .login-container p.welcome-text {
    margin-bottom: 2em;
    font-size: 1.2em;
  }

  #loader {
    margin-top: 1em;
  }
</style>

{% endblock %}

{% block content %}
<div class="login-container">
  <h1>Aplicación de cambios de LECS</h1>
  <p class="welcome-text">Por favor, use la cuenta de Google que ha indicado previamente al administrador para iniciar
    sesión.</p>
  <div id="firebaseui-auth-container"></div>
  <div id="loader">Cargando...</div>
  <form id="loginForm" method="POST" action="{{ url_for('main.login') }}">
    <input type="hidden" id="idToken" name="idToken">
  </form>
</div>
{% endblock %}

{% block scripts %}
<script>
  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyBGFN_jzYYOYfbQkTxQfjrb_x2_zTBy-Ug",
    authDomain: "cambios-76578.firebaseapp.com",
    projectId: "cambios-76578",
    storageBucket: "cambios-76578.appspot.com",
    messagingSenderId: "860275865505",
    appId: "1:860275865505:web:eff419cfc1cfb474d87de0"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  // FirebaseUI config
  const uiConfig = {
    callbacks: {
      signInSuccessWithAuthResult: function (authResult, redirectUrl) {
        // User successfully signed in
        // Return type determines whether we continue the redirect automatically
        // or whether we leave that to developer to handle.
        return true;
      },
      signInFailure: function (error) {
        // Handle sign-in errors here
        console.error("Sign-in error: ", error);
        if (error.code === 'auth/email-already-in-use') {
          alert('Este correo ya está registrado. Por favor, intenta iniciar sesión.');
        }
      },
      uiShown: function () {
        // The widget is rendered
        // Hide the loader
        document.getElementById('loader').style.display = 'none';
      }
    },
    signInFlow: 'popup',
    signInSuccessUrl: '/',
    signInOptions: [
      firebase.auth.GoogleAuthProvider.PROVIDER_ID,
      {
        provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
        requireDisplayName: false
      }
    ],
    tosUrl: '<your-tos-url>',
    privacyPolicyUrl: '<your-privacy-policy-url>'
  };

  // Initialize the FirebaseUI Widget using Firebase
  const ui = new firebaseui.auth.AuthUI(firebase.auth());
  // The start method will wait until the DOM is loaded
  ui.start('#firebaseui-auth-container', uiConfig);

  // Handle sign-in success
  firebase.auth().onAuthStateChanged((user) => {
    if (user) {
      user.getIdToken().then((idToken) => {
        document.getElementById("idToken").value = idToken;
        document.getElementById("loginForm").submit();
      }).catch((error) => {
        console.error("Error getting ID token:", error);
      });
    }
  });
</script>
{% endblock %}