{% extends "layout.html" %}

{% block title %}Iniciar Sesión{% endblock %}
{% block head %}
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.css" />
<script src="https://www.gstatic.com/firebasejs/10.12.1/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.12.1/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth__es.js"></script>
<style>
  /* Additional styles for better appearance */
  .login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
  }

  .login-container h1 {
    margin-bottom: 1em;
  }

  .login-container p.welcome-text {
    margin-bottom: 2em;
    font-size: 1.2em;
  }

  .login-container img {
    max-width: 200px;
    /* Adjust this value as needed */
    margin-bottom: 1em;
  }

  #loader {
    margin-top: 1em;
  }
</style>
{% endblock %}

{% block content %}
<div class="login-container">
  <h1>ATCApp</h1>
  <img src="{{ url_for('static', filename='atcapp.webp') }}" alt="ATCApp Logo">
  <p class="welcome-text">Por favor, use la cuenta de Google que ha indicado previamente al administrador para iniciar
    sesión.</p>
  <div id="firebaseui-auth-container"></div>
  <div id="loader">Cargando...</div>
  <form id="loginForm" method="POST" action="{{ url_for('main.login') }}">
    <input type="hidden" id="idToken" name="idToken">
  </form>
</div>
{% endblock %}

{% block scripts %}
<script>
  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyA6ButlWveF4Hf3mEGlYJ1yHBRzwBuoWhk",
    authDomain: "atcapp-web.firebaseapp.com",
    projectId: "atcapp-web",
    storageBucket: "atcapp-web.appspot.com",
    messagingSenderId: "167885690981",
    appId: "1:167885690981:web:1eea525413989b7fce8e8c",
    measurementId: "G-ZX7QT0C1G5"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  // FirebaseUI config
  const uiConfig = {
    callbacks: {
      signInSuccessWithAuthResult: function (authResult, redirectUrl) {
        // User successfully signed in
        if (authResult.user.emailVerified) {
          // If email is verified, proceed
          authResult.user.getIdToken().then((idToken) => {
            document.getElementById("idToken").value = idToken;
            document.getElementById("loginForm").submit();
          }).catch((error) => {
            console.error("Error getting ID token:", error);
          });
          return false;
        } else {
          // If email is not verified, send verification email and log out
          authResult.user.sendEmailVerification().then(() => {
            firebase.auth().signOut().then(() => {
              window.location.href = "{{ url_for('main.login', verify_email='true') }}";
            });
          }).catch((error) => {
            console.error("Error sending email verification:", error);
          });
          return false;
        }
      },
      signInFailure: function (error) {
        // Handle sign-in errors here
        console.error("Sign-in error: ", error);
        if (error.code === 'auth/email-already-in-use') {
          alert('Este correo ya está registrado. Por favor, intenta iniciar sesión.');
        }
      },
      uiShown: function () {
        // The widget is rendered
        // Hide the loader
        document.getElementById('loader').style.display = 'none';
      }
    },
    signInFlow: 'popup',
    signInSuccessUrl: '/',
    signInOptions: [
      firebase.auth.GoogleAuthProvider.PROVIDER_ID,
      {
        provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
        requireDisplayName: false
      }
    ],
    tosUrl: '/privacy_policy',
    privacyPolicyUrl: '/privacy_policy'
  };

  firebase.auth().languageCode = 'es';
  // Initialize the FirebaseUI Widget using Firebase
  const ui = new firebaseui.auth.AuthUI(firebase.auth());
  // The start method will wait until the DOM is loaded
  ui.start('#firebaseui-auth-container', uiConfig);
</script>
{% endblock %}