{% extends "base.html" %}

{% block title %}Carga de Turnero{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Carga de Turnero</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="file" class="form-label">Escoja un archivo PDF</label>
            <input type="file" class="form-control" id="file" name="file">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="add_new" name="add_new">
            <label class="form-check-label" for="add_new">Añadir controladores nuevos a la base de datos (Equipo y
                puesto siempre se actualizan automáticamente)</label>
        </div>
        <button type="submit" class="btn btn-primary">Subir</button>
    </form>
</div>
{% endblock %}