{% extends "base.html" %}

{% block title %}Carga de Turnero{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Carga de Turnero</h2>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="file" class="form-label">Escoja archivos PDF</label>
            <input type="file" class="form-control" id="file" name="files" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Subir</button>
    </form>
</div>
{% endblock %}